/*---------------------modal générique---------------------*/
.modal {
	width: 100%;
	height: 100%;
	top: 8px;
	background: #0000004D;
	z-index: 9997;
	position: absolute;
	display: none;
}

.modal-visible{
	display: block;
}

.modal__pages {
	width: 630px;
	height: 688px;
    top: 511px;
    left: 263px;
	border-radius: 10px;
	background: #FFFFFF;
	position: absolute;
	z-index: 9998;
}
.modal__title {
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;
	height: 30px;
	color: #000000;
	margin: 10px 228px 46px 229px;
}

.fa-xmark{
	width: 24px;
	height: 24px;
	margin: 32px 30px 0px 584px;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	cursor: pointer;
}

.line{
	width: 420px;
	top: 1229px;
	left: 510px;
	border: 1px;
	background: #B3B3B3;
	border: 1px solid #B3B3B3;
	margin: 67px 105px 0px 105px;
}

.modal__pages input{
	width: 237px;
	height: 36px;
	top: 1267px;
	left: 600px;
	border-radius: 60px;
	border: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 38px;
	cursor: pointer;
}
/*---------------------modal page 1---------------------*/
.modal__gallery{
	height: 366px;
	width: 420px;
	margin: 0px 105px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.modal__gallery--img {
	width: 76.86px;
	height: 102.57px;
	position: relative;
}

.modal__image-container {
    position: relative; 
    display: inline-block;
}

.modal__gallery--trash {
    width: 17px;
    height: 17px;
    border-radius: 2px;
    color: white;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px; 
    right: 5px;
    z-index: 9999;
	cursor: pointer;
}

/*---------------------modal page 2---------------------*/


